<div class="d-flex flex-column signup-wrapper">
  <h2>Cadastrar</h2>
  <span class="subtitle">Informe seus dados para começar</span>
  <input type="text" class="default" placeholder="Nome" [(ngModel)]="user.name">
  <input type="text" class="default" placeholder="Email" [(ngModel)]="user.email">
  <input type="password" class="default" placeholder="Senha" [(ngModel)]="user.pass">
  <input type="password" class="default" placeholder="Repetir Senha" [(ngModel)]="user.passrepeat">

  <button (click)="registerEmitter.next();" class="default-btn">Cadastrar</button>

  <small>Ja tem uma conta? <a (click)="backLogin.next();" >Fazer Login</a></small>
</div>