
ion-tab-button{
    img{
        height: 1.5rem;
        margin-bottom: 0.1rem;
        max-height: 100%;
    }

    .white-svg{
    filter:  saturate(0) brightness(5.1);
    }

    svg{
        height: 1.5rem;
        margin-bottom: 0.2rem;
    }

   
}


::ng-deep .tab-selected {
    color: #0e2f5c !important;
    fill: #0e2f5c !important;
    ion-label{
        color: #0e2f5c !important;
    }
    .cls-1 {
        fill: #0e2f5c !important;
    }
}