<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="ranking-wrapper">
  <div class="ranking-container">
    <div *ngFor="let item of orderedRankingList" class="ranking-card">
      <div class="left-side">
        {{item.positionOnRanking }}
        <img [src]="item.picture" alt="">
        <div class="nam">
          {{item.name}}
        </div>
      </div>
   
      <div class="right-side">
        <img src="assets/denied-beer-icon.png" alt="">
        {{item.daysSober}} dias
      </div>
    </div>
  </div>
  <button (click)="openModal()" class="default-btn" id="add-friend">
    Adicionar Amigo
  </button>
</div>
</ion-content>


  <app-modal (isModalClosed)="modalOpen = false" *ngIf="modalOpen" [isOpen]="modalOpen"></app-modal>

