<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="ranking-wrapper">
  <div class="ranking-container">
    <div *ngFor="let item of orderedRankingList; let i = index;" class="ranking-card">
      <div class="left-side">
        {{(i+1)}}
        <div class="profile-pic">
          <img [src]="item.picture" alt="">
        </div>
        <div class="nam">
          {{item.first_name}}
        </div>
      </div>
   
      <div class="right-side">
  
          <img src="assets/denied-beer-icon.png" alt="">
    
        {{item.days_without_drinking}} dias
      </div>
    </div>
  </div>
  <button (click)="openModal()" class="default-btn" id="add-friend">
    Adicionar Amigo
  </button>
</div>
</ion-content>


  <app-modal (isModalClosed)="closeModal()" *ngIf="modalOpen" [isOpen]="modalOpen"></app-modal>

