
.upper-text {
    font-size: 1.5rem;
}

.number-big {
    font-size: 6rem;
}

.days {
    font-size: 3rem;
    position: relative;
    top: -1rem;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    margin: 1rem;
    width: 13rem;
}

.action-btns {
    display: flex;
    margin-top: 1rem;
    width: 10.5rem;
    justify-content: space-between;
}

.medium-text {
    font-size: 1.5rem;
}

small {
    margin-top: 1rem;
}

.btn-small {
    width: 5rem;
}